* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

img {
    max-width: 100%;
}
p {
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .75rem;
}

h1 {
    color: gray;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

h3 {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: .80rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 460px;
}

.employee {
    display: flex;
    flex-direction: row;
    border: 1px lightgray solid;
    border-radius: 5px;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.details:last-child {
    padding-bottom: 5px;
}

.icon {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    flex-shrink: 1;
}

/*************************
Two Column Layout
**************************/
@media (min-width: 576px) {
    .container {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 990px;
        margin: auto;
    }
    .employee {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 10px;
        padding-right: 2.5px;
        padding-left: 2.5px;
        justify-content: space-evenly;
    }
}

/*************************
Three Column
**************************/
@media (min-width: 760px) {
    body {
        max-width: 990px;
        margin: auto;
    }

    h1 {
        text-align: left;
        margin-left: 25px;
    }

    .icon {
        width: 100px;
        height: 100px;
    }
    .container {        
        margin: 0;
        justify-content: space-evenly;
    }
    .employee {
        width: 30%;
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 15px;
    }
}